@model Presentation.Models.CellViewModel

@{
    ViewData["Title"] = "Edit Cells";
}

@Html.Partial("_nav")

<div style="padding-top:90px">
    <h1>Edit Cell</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="code" H class="control-label"></label>
                    <input asp-for="code" class="form-control" />
                    <span asp-validation-for="code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="model" class="control-label"></label>
                    <input asp-for="model" class="form-control" required autofocus />
                    <span asp-validation-for="model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="price" class="control-label"></label>
                    <input asp-for="price" class="form-control" required autofocus />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="brand" class="control-label"></label>
                    <input asp-for="brand" class="form-control" required autofocus />
                    <span asp-validation-for="brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" accept="image/*" required autofocus />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="date" class="control-label"></label>
                    <input asp-for="date" class="form-control" required autofocus />
                    <span asp-validation-for="date" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="code" />
                <button type="submit" class="btn btn-danger">Edit</button>
                @Html.ActionLink("Back to cell", "Index", "Cell", null, new { @class = "btn btn-primary" })

                <strong style="color:red">@TempData["ImageLength"]</strong>
            </form>


        </div>
    </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
